name: update-proxy

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  determine-server:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Download server
        run: | 
          wget -O ezproxy https://help.oclc.org/@api/deki/files/9850/ezproxy-linux.bin
          chmod +x ezproxy
      - name: Check version
        id: version
        run: |
          VERSION="$(./ezproxy -v | grep -oP "EZproxy \d+\.\d+\.\d+" | tr -d '\n')"
          echo "ezproxy_version=$VERSION" >> $GITHUB_OUTPUT
          echo $VERSION > VERSION
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            branch: update-ezproxy
            commit-message: Update to ${{ steps.version.outputs.ezproxy_version }}
            title: Update to ${{ steps.version.outputs.ezproxy_version }}
            body: |
              ${{ steps.version.outputs.ezproxy_version }}